* {
  box-sizing: border-box;
}
img {
  width: 100%;
}

body {
  width: 100%;
  background-image: url('images/bg.jpg');
  background-size: auto;
  font-size: 16px;
}
.social-media-header {
  width: 100%;
  height: 65px;
}
.icons-social {
text-align: right;
}


.icons-social i {
  width: 15%;
  text-align: center;
  font-size: 3em;
  margin-top: 10px;
}
.icons-social i:not(:last-child) {
  margin-right: 10px;
}
.subscribe i {
  color: white;
  font-size: 6px;
  margin-left: 10px;
}
.subscribe {
  margin-top: 20px;
  color: white;
}


nav div .col-md {
  color: white;
  background-color: #A63634;
  text-align: center;
  margin-bottom: 10px;
}
nav div .col-md:not(:last-child) {
  margin-right: 10px;
}


header i {
  font-size: 3em;
  text-align: right;
}
.container {
  padding: 0px;
}
.peralta-logo {
  position: absolute;
  height: 225px;
  width: 415px;
  right: 970px;
  bottom: 590px;
}
.top-image {
  background-image: url('images/top-image.png');
  background-position: 0px -120px;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  border: 6pt solid white;
  margin: 5px;
}
.top-image-container {
  background-image: url('images/grid.png');
  background-repeat: no-repeat;
  background-size: cover;
  height: 280px;
  width: 100%;
  opacity: .5;
}
.skate-article .col-md {
  color: black;
  background-color: white;
  text-align: left;
  margin-top: 20px;
  margin-bottom: 20px;
  border: 8pt solid white;
}
.skate-article .col-md:not(:last-child) {
  margin-right: 10px;
}

h1 {
font-size: 24px;
}

.lance-img {
  height: 250px;
  border: solid 6px white;
  background-image: url('images/sk8er-4.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right;
  margin-right: 10px;
}
 .rodney-img {
   height: 250px;
   border: solid 6px white;
   background-image: url('images/sk8er-3.png');
   background-repeat: no-repeat;
   background-size: cover;
 }
 .tommy-img {
  height: 510px;
  border: solid 6px white;
  background-image: url('images/sk8er-2.png');
  background-repeat: no-repeat;
  background-size: cover;
  margin-left: 10px;
}

.steve-img {
height: 250px;
background-image: url('images/sk8er-1.png');
background-repeat: no-repeat;
background-size: cover;
border: solid 6px white;
background-position: center;
margin-top: 10px;
}
.skateboarders {
  margin-bottom: 10px;
}
.skateboarder-name {
  color: white;

}

.skateboards {
  height: 300px;
  background-color: white;
}
.skateboards img {
  /* position: absolute; */
  transform: rotate(90deg);
  top: 120px;
  right: 370px;
  height: 65px;
  width: 250px;
  text-align: center;
}

.contact-box {
height: 250px;
background-color: white;
position: absolute;
left: 16%;
padding: 10px;
width: 50%;
}
.contact-box {
  width: 67.9%;
}
form {
  position: absolute;
  left: 70%;
  bottom: 0%;
}
.contact-box article {
  width: 33%;
  display: inline-block;
}
.contact-box aside {
  width: 15%;
  display: inline-block;
  text-align: center;
}
h2 {
  font-size: 24px;
  margin-top: 10px;
}
.contact-box p {
  line-height: 20pt;
}
input {
  margin-bottom: 10px;
}
